@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+Thai:wght@100..900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
    scroll-behavior: smooth;
}

/* ------- ||SHORTCUT -------*/
:root {
    --color-primary: #8342c5;
    --color-secondary: #c77dff;
    --color-tertiary: blueviolet;
}

body {
    font-family: "Noto Sans Thai", sans-serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
    font-variation-settings: 100;
    background-image: url("../static/image/bg-image.jpg");
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    color: white;
    height: 100vh;
}


/* ------- ||MENU ------- */
.flex {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

.max-w {
    width: 100%;
    max-width: 90rem;
}

.mt-4 {
    margin-top: 2rem;
}

.mx-auto {
    margin-left: auto;
    margin-right: auto;
}


/* ------- image logo ------- */
.text-white {
    width: 10rem;
    height: auto;
}

.max-w2 {
    max-width: 100%;
    height: auto;
    flex-shrink: 0;
}


/* ------- menu text ------- */
.flex ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    gap: 1rem;
}

.ft-size {
    font-size: 2rem;
}

.items-center {
    align-items: center;
}

.px-1 {
    padding-left: 0.75rem;
    padding-right: 0.75rem;
}

.py-1 {
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
}

.decoration {
    text-decoration: none;
    color: white;
}

.hv-color:hover {
    color: var(--color-secondary);
}


/* ------- ||HEAD TEXT ------- */
.h-size {
    font-size: 2.4rem;
}

.w-800 {
    font-weight: 800;
}

.line-h {
    line-height: 1.25rem;
    margin-bottom: 1rem;
}

.h3-size {
    font-size: 1.4rem;
}

.h3-color {
    color: rgb(189, 189, 189);
    font-weight: inherit;
}


/* ------- ||FORM LOGIN ------- */
.form-center {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 2rem;
}

.form-bg {
    background: rgba(255, 255, 255, 0.1);
    -webkit-backdrop-filter: blur(12px);
    backdrop-filter: blur(12px);
    border: 1px solid rgba(217, 165, 238, 0.4);
    color: white;
}

.form-size {
    width: 30%;
    padding: 2rem;
    border-radius: 20px;
}

.w-full {
    width: 100%;
}

.m-height {
    min-height: 40px;
}

.group {
   display: flex;
   flex-direction: column; 
}


/* ------- customize input -------*/
label {
    font-size: 1.4rem;
}

.frame {
    border: 2px solid gray;
}

.group-top {
    margin-top: 1rem;
}

.input-font {
    font-size: 1.5rem;
}

input:focus {
    border: 3px solid var(--color-secondary);
    outline: none;
}

.border-corner {
    border-radius: 6px;
}

.space {
    text-indent: 1.15rem;
}


/* ------- button login ------- */
.m-top {
    margin-top: 2rem;
}

.text-center {
    text-align: center;
}

.flex-button {
    display: flex;
    flex-direction: column;
}

.a-color {
    text-decoration: none;
    color: white;
}

.hv-link:hover {
    color: rgb(209, 209, 209);
}

.button-bg {
    background-color: var(--color-tertiary);
}

.button-color {
    color: white;
}

.bt-frame {
    border: 2px solid var(--color-tertiary);
    border-radius: 12px;
    font-size: 1.7rem;
}

.cursor {
    cursor: pointer;
}


/* ------- button signin -------*/
.f-size {
    font-size: 1.4rem;
    padding-top: 1rem;
}

.m-link {
    margin-top: 1rem;
}


/* ------- ||RESPON -------*/
/*------- mobile -------*/
@media (max-width: 576px) {

    /* ||MENU */
    .respon {
        display: none;
    }

    .max-w {
        width: 90%;
    }

    .menu-size {
        font-size: 1.8rem;
    }

    /* ||FORM LOGIN */
    .form-size {
        width: 90%;
    }
}

/* ------- tablet -------*/
@media (min-width: 601px) and (max-width: 1024px) {
    
    /* ||MENU */
    .max-w {
        width: 90%;
    }

    /* ||FORM LOGIN */
    .form-size {
        width: 45%;
    }
}