<!DOCTYPE html>
<html lang="th">
    
    <head>
        <meta charset="UTF-8">
        <meta name="robots" content="index, follow">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="icon" href="static/image/logo.png" type="image/png">
        <link rel="stylesheet" href="static/login.css" type="text/css">

        <title>Miyu store</title>
    </head>
    
    <body>
        
        <!------- MENU ------->
        <header>
            <nav class="w-full">
                <div class="flex max-w mt-4 mx-auto">
                    <a href="/"><img class="text-white max-w2" src="static/image/logo.png" alt="icon shop" loading="eager"></a>
                    <ul class="flex ft-size items-center">
                        <li class="px-1 py-1 respon"><a class="decoration hv-color" href="/">หน้าแรก</a></li>
                        <li class="px-1 py-1 menu-size"><a class="decoration hv-color" href="{{ url_for(register.html) }}">เข้าสู่ระบบ</a></li>
                    </ul>
                </div>
            </nav>
        </header>
   

        <main>
            
            <div class="form-center">
                <div class="form-bg form-size">
                    <div class="text-center h-color">
                        <h1 class="h-size w-800">MIYU STORE</h1>
                        <h3 class="line-h h3-size h3-color">เข้าสู่ระบบ เพื่อเลือกซื้อสินค้าและใช้บริการ !</h3>
                    </div>

                    <!-- FLASH MESSAGES -->
                    {% with messages = get_flashed_messages(with_categories=true) %}
                        {% if messages %}
                            {% for category, message in messages %}
                            <div class="alert alert-{{ category }}">{{ message }}</div>
                            {% endfor %}
                        {% endif %}
                    {% endwith %}

                    <form action="{{ url_for('login') }}" method="POST">
                        <div class="group">
                            <label for="username">ชื่อผู้ใช้ / Username</label>
                            <input class="w-full m-height border-corner space frame input-font" type="text" name="username" id="username" placeholder="Somsuk" autocomplete="on" required>
                        </div>
                        
                        <div class="group group-top">
                            <label for="password">รหัสผ่าน / Password</label>
                            <input class="w-full m-height border-corner space frame input-font" type="password" name="password" id="password" placeholder="********" required>
                        </div>
                        
                        <div class="text-center flex-button m-top">
                            <button class="m-height button-bg button-color bt-frame cursor">เข้าสู่ระบบ</button>
                        </div>
                        
                        <div class="text-center m-link">
                            <a class="decoration hv-link f-size m-top" href="templates/registor.html">สมัครสมาชิก</a>
                        </div>
                    </form>
                </div>
            </div>
        </main>
</html>